.fontroboto {
    font-family: 'Roboto Slab', serif;
}

.fontoswarld {
    font-family: 'Oswald', sans-serif;
}

.fontdancing {
    font-family: 'Dancing Script', cursive;
}

/* TOP HEADER */
.datban.openningtop.float-right {
    border-right: 1px solid #ddd;
    float: right;
    color: #ddd;
    padding-right: 17px;
}

.datban {
    border-left: 1px solid #ddd;
    margin-left: 17px;
    float: left;
    font-family: 'Roboto Slab', serif;
    padding-left: 25px;
    font-size: 13px;
    color: #ddd;
}

.datban.openningtop.float-sm-right.text-xs-center.text-sm-left {
    border-right: 1px solid #ddd;
    padding-right: 17px;
}

.datban {
    padding-left: 17px;
}

.mangxh a {
    color: #dddddd;
    font-size: 12px;
    padding: 0 13px;
}

.mangxh a {
    padding-left: 0;
}

.topheader {
    background: #222222;
    height: 40px;
    color: white;
    line-height: 40px;
}

/* END TOP HEADER */


/* MENU & LOGO */
.datbanmenu a.nav-link.btn.btn-warning {
    width: 150px;
    height: 44px;
    line-height: 44px;
    border-radius: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    color: black;
    font-size: 13px;
    margin-top: 37px;
}

a.nav-link {
    color: #777;
    font-size: 14px;
    margin-top: 43px;
    padding: 0 15px;
}

.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-top: -8px;
}

 .logovamenufixed {    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    width: 100%;
    background: white;
    transition: 0.4s;
  }

/* END MENU & LOGO */


/* SLIDE */
img.img-fluid {
    width: 320px;
    height: 260px;
}

button.btn.btn-warning {
    border-radius: 0;
    width: 165px;
    height: 50px;
    color: black;
    line-height: 50px;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

.chu {
    position: absolute;
    color: white;
    background: url(images/icon-1.png) no-repeat right top;
    margin-left: 14%;
    padding-top: 164px;
    top: 60px;
}

.chu h2 {
    font-size: 50px;
}

.chu p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: white;
    width: 625px;
}


a.right.carousel-control {
    right: 2%;
}

a.left.carousel-control {
    left: 2%;
}

a.left.carousel-control,
a.right.carousel-control {
    transition: 0.4s;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;
    background: #6e6e6e;
    display: block;
    position: absolute;
    top: 45%;
    line-height: 40px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 95vh;
}

.carousel-inner>.carousel-item>a>img,
.carousel-inner>.carousel-item>img,
.img-fluid {
    max-width: 100%;
    height: 750px;
}

/* END SLIDE */

/* CSS KHOI 3DV */
.fontroboto {
    font-family: 'Roboto Slab', serif;
}

.fontoswarld {
    font-family: 'Oswald', sans-serif;
}

/* TOP HEADER */
.datban.openningtop.float-right {
    border-right: 1px solid #ddd;
    float: right;
    color: #ddd;
    padding-right: 17px;
}

.datban {
    border-left: 1px solid #ddd;
    margin-left: 17px;
    float: left;
    font-family: 'Roboto Slab', serif;
    padding-left: 25px;
    font-size: 13px;
    color: #ddd;
}

.datban.openningtop.float-sm-right.text-xs-center.text-sm-left {
    border-right: 1px solid #ddd;
    padding-right: 17px;
}

.datban {
    padding-left: 17px;
}

.mangxh a {
    color: #dddddd;
    font-size: 12px;
    padding: 0 13px;
}

.mangxh a {
    padding-left: 0;
}

.topheader {
    background: #222222;
    height: 40px;
    color: white;
    line-height: 40px;
}

/* END TOP HEADER */


/* MENU & LOGO */
.datbanmenu a.nav-link.btn.btn-warning,
.datbanform a.btn.btn-warning {
    width: 150px;
    height: 44px;
    line-height: 44px;
    border-radius: 0;
    padding: 0;
    text-align: center;
    display: inline-block;
    color: black;
    font-size: 13px;
    margin-top: 31px;
    transition: 0.4s;
}

a.nav-link {
    color: #777;
    font-size: 14px;
    margin-top: 43px;
    padding: 0 15px;
}

/* END MENU & LOGO */


/* SLIDE */
img.img-fluid {
    width: 320px;
    height: 260px;
}

button.btn.btn-warning {
    border-radius: 0;
    width: 165px;
    height: 50px;
    color: black;
    line-height: 50px;
    padding: 0;
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
}

.chu {
    position: absolute;
    color: white;
    background: url(images/icon-1.png) no-repeat right top;
    margin-left: 14%;
    padding-top: 164px;
    top: 60px;
}

.chu h2 {
    font-size: 50px;
}

.chu p {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: white;
    width: 625px;
}


a.right.carousel-control {
    right: 2%;
}

a.left.carousel-control {
    left: 2%;
}

.slidemonan a.left.carousel-control,
.slidemonan a.right.carousel-control {
    transition: 0.4s;
    width: 34px;
    height: 34px;
    border: 1px solid #fff;
    background: rgba(0, 0, 0.29);
    display: block;
    position: absolute;
    top: -7%;
    line-height: 34px;
}

.slidemonan a.left.carousel-control:hover,
.slidemonan a.right.carousel-control:hover {
    background: #feb518;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.carousel-item {
    height: 95vh;
}

.carousel-inner>.carousel-item>a>img,
.carousel-inner>.carousel-item>img,
.img-fluid {
    max-width: 100%;
    height: 750px;
}

/* END SLIDE */

/* CSS KHOI 3DV */

.badichvu.badichvuabout a.readmore {
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #feb518;
    display: block;
    padding-top: 29px;
    font-family: 'Roboto Slab', serif;
    /* padding-bottom: 30px; */
}

.badichvu p {
    font-size: 14px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: #777;
    line-height: 24px;
}

.badichvu h3 a {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    color: #333;
    display: block;
    padding-top: 25px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
}

.badichvu {
    margin: 110px 0;
}

li.nav-item a.nav-link {
    padding-top: 0px;
}

/* END CSS KHOI 3DV */


/* KHOI MENU */


h3.tieudechinh.fontroboto {
    font-size: 38px;
    font-weight: bold;
}

span.tieudephu.fontdancing {
    font-weight: 700;
    font-size: 38px;
    color: #feb518;
}

.tieudekhoimenu.text-xs-center .container {
    display: table-cell;
    vertical-align: middle;
}

.tieudekhoimenu.text-xs-center {
    display: table;
    height: 550px;
    margin: auto;
}

.khoimenu {
    background: url(images/5.jpg);
    background-size: cover;
    color: white;
    background-attachment: fixed;
}

/* END KHOI MENU */

/* KHOI THUC DON */


.thucdonct img.img-fluid {
    width: 90px;
    height: 90px;
}

.thucdonct .tieudect {
    height: 40px;
    line-height: 40px;


    display: block;
    margin-top: -40px;
}

.tieudect.text-xs-center.fontroboto a:hover {
    color: #feb518;
}





.thucdonct .noidungct {
    position: relative;
    height: auto;
    padding-top: 20px;
}

.thucdonct .noidungct .noidung {
    height: 400px;
    border: 1px solid red;
    position: absolute;
    top: 0;
    opacity: 0;
    visibility: hidden;



}

/* END KHOI THUC DON */


/* CSS LOC CHO KHOI THUC DON */
.slidemonan .carousel-indicators li {
    display: none;
}



.slidemonan .tencongthuc {
    font-size: 13px;
    color: #aaa;
    font-family: 'Roboto Slab';
}

.tensp .tencongthuc {
    font-size: 13px;
    font-family: 'Roboto Slab';
    color: #aaa;
}

.tensp .ten,
.tensp .gia {
    font-family: 'Oswald';
    font-size: 17px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.slidemonan .left.carousel-control {
    left: auto;
    right: 80px;
}

.slidemonan h4 {
    font-size: 24px;
    padding: 25px 0;
    font-family: 'Roboto Slab';
    margin-left: 0px;
}

.slidemonan {
    margin-top: 10px;
    background: url(images/5.jpg);
    background-size: cover;
    color: white;
    margin-bottom: 20px;
    padding-bottom: 70px;
    height: 495px;
    margin-top: 110px;
}

img.anhspslide {
    width: 100%;
}

.sanpham {
    width: 20%;
    box-sizing: border-box;
    float: left;
    padding-left: 7px;
    padding-right: 7px;
}

.tieudect a {
    font-size: 16px;
    color: #fefefe;
    padding: 0 16px;
    text-decoration: none;
}

.tieudect a:focus {
    color: #feb518;
}

.tenmon .duoi {
    font-size: 13px;
    color: #777;
    font-family: 'Roboto Slab', serif;
    padding-top: 12px;
}

.tenmon span.float-xs-right {
    background: white;
    display: inline-block;
    transform: translateY(5px);
    padding-left: 5px;
}

.tenmon b.ten {
    background: white;
    transform: translateY(5px);
    display: inline-block;
    padding-right: 5px;
}



.tenmon .tren {
    font-family: 'Oswald', sans-serif;
    font-size: 15px;
    color: #333333;
    border-bottom: 1px dotted #999999;
}

.thucdonct .row .row [class*=col-] {
    padding-left: 10px;
    padding-right: 10px;
}



.tagnew {
    position: absolute;
    top: 0;
    left: 0;
    background: #feb518;
    font-size: 11px;
    color: black;
    font-family: 'Roboto Slab', serif;
    padding: 4px 7px;
}

.anhmon {
    position: relative;
    width: 100%;
    display: table;
    padding-bottom: 15px;
}

.col-xs-12.col-sm-6.col-md-4.motmon {
    height: 120px;
}

/* END CSS LOC CHO KHOI THUC DON */

/*CSS PHAN GIOI THIEU DB */

.gioithieudaubep .daubepcontact .icondb {
    background: black;
    width: 36px;
    height: 36px;
    display: inline-block;
    line-height: 36px;
    text-align: center;
    margin-left: 5px;
    border-radius: 5px;
    color: white;
    transition: 0.4s;
}

.gioithieudaubep .daubepcontact .icondb:hover {
    color: #feb518;
}



.gioithieudaubep p {
    color: #777;
    font-size: 14px;
    line-height: 26px;
    font-family: 'Roboto Slab';
}

.gioithieudaubep span.fontdancing {
    font-size: 31px;
    color: #feb518;
    padding-bottom: 25px;
    display: block;
}

.gioithieudaubep .thongtin h2 {
    font-size: 30px;
    color: #333;
}

.gioithieudaubep .thongtin {
    padding-top: 267px;
}

.gioithieudaubep img.img-fluid {
    width: 100%;
    height: 100%;
}

/*END CSS PHAN GIOI THIEU DB */
/* CSS SOLUGAN */


.soluganhome {
    padding: 230px 0;
    background: #3e3e3e;
    color: white;
    line-height: 50px;
    margin-top: 30px;
}

.soluganhome.wow.fadeInUp.solugancontact {
    margin-top: 14px;
    background: url(images/4.jpg);
    margin-bottom: 110px;
    background-attachment: fixed;
}

.soluganhome span {
    font-size: 36px;
    color: white;
}

.soluganhome h3 {
    font-size: 36px;
    color: #feb518;
}

/* END CSS SOLUGAN */


.datbanform a.btn.btn-warning {
    font-weight: bold;
    font-family: 'Roboto Slab';
    text-transform: uppercase;
    margin-top: 45px;
}

.datbanform a.btn.btn-warning:hover,
.datbanmenu a.btn.btn-warning:hover {
    color: #feb518 !important;
    background: none;
    border-color: #feb518;
}

.datbanform h2.text-xs-center.fontroboto {
    padding-top: 50px;
    padding-bottom: 45px;
    font-size: 22px;
    color: #333;
}

.datbanform .col-sm-12.text-xs-center {
    font-weight: bold;
    padding: 20px 0;
}

.thongtindatban.fontoswarld {
    border-bottom: 1px solid #e4e4e4;
}

.khoidatban .dtdb {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
}

.khoidatban span.vang,
.tintuchome span.vang {
    color: #fec455;
}

.khoidatban p.tt,
.khoidatban p.giodb {
    font-size: 15px;
    line-height: 26px;
    color: #777;
    padding-top: 36px;
}

.khoidatban.text-xs-center .thongtindatban h2 {
    font-size: 33px;
    color: #333;
}

.khoidatban.text-xs-center {
    padding-top: 110px;
    padding-bottom: 61px;
}

/* CSS PHAN HOI */


b.fontdancing.nguoiviet:before {
    content: "-";
}

.khoiphanhoi .carousel-indicators {
    top: 50%;
}



.khoiphanhoi b.fontdancing.nguoiviet {
    color: #feb518;
    font-size: 25px;
    margin-top: 23px;
    display: inline-block;
}

.khoiphanhoi .quote {
    font-size: 18px;
    line-height: 34px;
    font-family: 'Roboto Slab';
    color: white;
}

.khoiphanhoi i.fa.fa-quote-right {
    font-size: 33px;
    margin-bottom: 66px;
}

.khoiphanhoi {
    margin: 110px;
    background: url(images/6.jpg);
    color: white;
    padding: 92px 0;
    height: 500px;
    background-attachment: fixed;
}



.quote:before {

    content: ' " ';
}

.quote:after {

    content: ' " ';
}

/* END CSS PHAN HOI */


/* CSS TIN TUC HOME */
.tintuchome .docthem {
    margin-bottom: 20px;
}

.tintuchome span.number1 {
    font-weight: bold;
}

.tintuchome a.rm.fontroboto {
    list-style: none;
}

.mottinchuan.docthem {
    border-top: 1px dashed #777;
    padding-top: 10px;
    height: 40px;
    color: #777;
}

.tintuchome a.rm.fontroboto {
    font-size: 14px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
}

.mottinchuan p.text1.fontroboto {
    color: #777;
    line-height: 24px;
    font-size: 14px;
}


.mottinchuan.thoigian1 {
    font-size: 17px;
    display: inline-block;
    line-height: 24px;
    font-family: 'Roboto Slab';
    color: #777;
    padding-bottom: 19px;
}

.mottinchuan a.tieudetin1.fontoswarld {
    color: black;
    font-size: 18px;
    display: inline-block;
    padding: 26px 0 12px 0;
}

.tintuchome img {
    width: 100%;
    height: auto;
}

.tintuchome h2.fontroboto {
    font-size: 24px;
    color: #333;
    padding-bottom: 55px;
}

.tintuchome span.fontdancing {
    color: #feb518;
    font-size: 40px;
}

.tintuchome {
    padding-bottom: 110px;
}

/* END CSS TIN TUC HOME */

/* CSS FOOTER */

.gioithieudaubep.wow.fadeInRight {
    padding-bottom: 110px;
}

.footerbottom.text-xs-center.fontroboto {
    font-size: 15px;
    height: 91px;
    color: #999;
    line-height: 91px;
    background: #111;
}

.footertop p {
    font-family: 'Roboto Slab';
}



.footertop .col-sm-3.cotf3 {
    font-family: 'Roboto Slab';
}

.footertop .col-sm-3.cotf2 {
    font-family: 'Roboto Slab';
}

.footertop .col-sm-3.cotf1 {
    font-family: 'Roboto Slab';
}

span.phai.float-sm-right {
    padding-left: 10px;
}

span.trai.float-sm-left {
    padding-right: 10px;
}

span.trai.float-sm-left,
span.phai.float-sm-right {
    border: 1px solid #151515;
    background: #151515;
    color: #a0a0a0;
    font-family: 'Roboto Slab';
}



.footertop .khoithoigian {
    border-bottom: 1px dashed;
    padding-bottom: 16px;
    margin-bottom: 30px;
}



.cotf2 li,
.cotf3 li {
    list-style: none;
    padding-bottom: 10px;
}



.cotf2 a,
.cotf3 a {
    text-decoration: none;
    color: #8f8d8d;
}

.footertop h2.tieudefooter {
    font-size: 14px;
    color: #ccc;
    font-family: 'Roboto Slab';
    position: relative;
    padding-bottom: 65px;
    top: 6px;
}

h2.tieudefooter:after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    background: yellow;
    top: 18px;
    left: 2px;
    position: absolute;
    opacity: 0;
    transition: 0.4s;
}

.footertop h2.tieudefooter:hover:after {
    opacity: 1;
    width: 80px;
}

.footertop .motdong {
    overflow: hidden;
    padding: 7px 9px;
}

.cotf1 i.fa {
    padding-right: 20px;
    float: left;
    padding-top: 4px;
    color: #d4d4d4;
    font-size: 16px;
}

.footertop i.fa:hover {
    color: #feb518;
}

.cotf1 i.fa.fa-paper-plane-o {
    padding-bottom: 45px;
}

.footertop {
    background: #151515;
    color: white;
    font-size: 14px;
    color: #888;
    width: 100%;
    line-height: 24px;
    padding-top: 113px;
    padding-bottom: 100px;
}

/* END CSS FOOTER */


/* * CSS TRANG ABOUT * */
.gioithieudaubep.wow.fadeInUp {
    padding-bottom: 110px;
    margin-top: -105px;
}

.badichvuabout h2.fontroboto {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 30px;
}

.badichvuabout span.fontdancing {
    color: #feb518;
    font-size: 40px;
}

.badichvuabout img {
    padding-left: 84px;
}

.thongtin2about p {
    color: #777;
    line-height: 24px;
    font-family: 'Roboto Slab';
    margin-bottom: 44px;
    margin-top: 24px;
}

.thongtin2about h2.fontoswarld {
    font-size: 31px;
    font-weight: bold;
    line-height: 36px;
    color: #333;
}

.thongtin2about {
    padding: 110px 0;
}



.thongtin2about span.fontdancing {
    font-size: 31px;
    color: #feb512;
    font-weight: bold;
}


/* CSS MENU */
.slidemonan.wow.fadeInUp {
    margin-bottom: 200px;
}

/* END CSS MENU */

/* CSS NEWS */

button.iconsearch {
    position: absolute;
    top: 6px;
    right: 30px;
    background: none;
    border: none;
    color: #7f7f7f;
    cursor: pointer;
}

input.form-control.phansearchct {
    position: relative;
}

.mottinchuan img {
    width: 100%;
    height: 100%;
}

.noidungtin .mottinchuan.wow.fadeInUp {
    border-bottom: 1px dashed #333;
    margin-bottom: 45px;
}

.mottinchuan .docthem {
    padding-bottom: 40px;
}

.mottinchuan.mb-3 {
    border-bottom: 1px dashed #333;
}

.mottinchuan span.vang {
    color: #feb518;
}

.mottinchuan .thoigian1 {
    color: #777777;
    font-size: 14px;
    margin-bottom: 10px;
}

div#slidephanhoi {
    padding-top: 2px;
}

.noidungtin a.rm.fontroboto {
    color: #feb518;
    text-decoration: none;
}

.badichvu a.readmore {
    color: #feb518;
    text-decoration: none;
    font-weight: 500;
}

.tdtintuchome h2.fontroboto {
    font-size: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
    line-height: 1.4em;
}

.tdtintuchome span.fontdancing {
    font-size: 38px;
    font-weight: 700;
    color: #feb518;
    line-height: 1.4em;
}

.thucdonctmenu .col-sm-12.text-xs-center {
    padding: 20px 0;
}

.thucdonctmenu p.fontroboto.pmenu {
    font-weight: 700;
}

.thucdonctmenu h3.fontdancing.h3menu {
    color: #feb518;
    font-weight: 700;
    padding-top: 15px;
}

.slidemonan.slidemonanmenu .col-sm-12.text-xs-center {
    margin-top: -175px;
}

/* END CSS NEWS */

* {
    margin: 0;
    padding: 0;
}

.docthem.docthemcontact {
    color: #333333;
    font-size: 14px;
    font-weight: 400;
}

.docthem.docthemcontact:hover {
    color: #feb518;
}

.lower-content ul,
.lower-content li {
    list-style: none;
}

.list-style-two li {
    position: relative;
    padding-left: 35px;
    font-size: 13px;
    color: #777777;
    margin-bottom: 14px;
}

.list-style-two li i {
    position: absolute;
    left: 0px;
    top: 2px;
    font-size: 18px;
    color: #feb518;
}

ul.list-style-two {
    position: relative;
    margin-top: 20px;
}



.lower-content {
    position: relative;
    padding-top: 10px;
}

.solugancontact span.fontroboto {
    font-size: 32px;
}

.daubepcontact img {
    height: 580px;
    margin-top: 124px;
}

.daubepcontact button.btn.btn-block {
    background: #333333;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 600;
    line-height: 24px;
    color: white;
    border: 2px solid #333333;
    transition: 0.4s;
}

.daubepcontact button.btn.btn-block:hover {
    color: #333333;
    background: white;
}

.daubepcontact textarea.form-control.formcomment {
    margin-bottom: 30px;
}

.daubepcontact .row {
    width: 100%;
    height: 100%;
}

nav.phantrang ul li.next a,
nav.phantrang ul li.pre a {
    width: 100px;
}

nav.phantrang ul li a,
nav.phantrang ul li.current {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border: 1px solid #eee;
    text-align: center;
    border-radius: 22px;
    color: #333;
    text-decoration: none;
}

nav.phantrang ul li.current,
nav.phantrang ul li a:hover {
    color: white;
    background: #feb512;
    border-color: #feb512;
}

nav.phantrang ul li {
    display: inline;
    padding: 0 10px;
}

nav.phantrang {
    text-align: center;
}

nav.phantrang ul.pagination {
    list-style: none;
}

.newslist .tenmon {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 30px;
}

.newslist .tren {
    border-bottom: none;
}

.newslist img.img-fluid {
    height: auto;
    width: 100px;
}

.khoilistlink.my-2 {
    border-bottom: 1px solid #f0f0f0;
}

.khoilistlink ul li a {
    font-size: 14px;
    color: #777;
    line-height: 44px;
}

.khoilistlink ul {
    margin-left: 18px;
    color: #c2c3c5;
    list-style: none;
}

.khoilistlink h3.fontroboto {
    font-size: 18px;
    line-height: 50px;
    color: #333;
}

/* XU LY GIAO DIEN CHO DI DONG */
@media (max-width:576px) {
    * {}



    .daubepcontact ul.list-style-two {
        text-align: center;
    }

    .daubepcontact .col-sm-7.push-sm-1 {
        top: 100px;
        left: 30px;
    }

    .daubepcontact .col-sm-4 {
        left: 20px;
    }



    .noidungtin li.next,
    .noidungtin li.pre {
        float: left;
    }

    .khoimenu img.manhinhdt {
        padding-left: 32px;
    }



    .badichvu .col-sm-4.wow.fadeInUp {
        margin: 10px 0;
    }

    .badichvu.badichvuabout img {
        padding-right: 86px;
    }

    .thongtin2about img {
        width: 70%;
        height: auto;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .thongtin2about a.btn.btn-warning {
        margin: 40px 0px;
    }

    .footerbottom.text-xs-center.fontroboto {
        margin-left: 0px;
    }

    .footertop .col-sm-3.cotf2,
    .footertop .col-sm-3.cotf3,
    .footertop .col-sm-3.cotf4 {
        text-align: center;
    }

    .footertop h2.tieudefooter {
        padding-bottom: 10px;
    }

    .footertop .motdong {
        padding-bottom: 23px;
    }

    .footertop .motdong i.fa.fa-paper-plane-o {
        margin-bottom: -24px;
    }

    .footertop p {
        text-align: center;
    }

    .footertop {
        padding-top: 50px;
        margin-left: 0px;
    }

    .tintuchome {
        padding: 0px;
        padding-bottom: 50px;
    }

    .khoiphanhoi b.fontdancing.nguoiviet {
        font-size: 25px;
    }

    .khoiphanhoi ol.carousel-indicators {
        display: none;
    }

    .khoiphanhoi {
        width: 100%;
        height: 100%;
        margin-left: 0px;
        margin-top: 30px;
    }



    .soluganhome {
        padding: 80px 0;
    }

    .gioithieudaubep .daubepcontact {
        text-align: center;
    }

    .gioithieudaubep .thongtin {
        padding-top: 35px;
        text-align: center;
    }

    .slidemonan h4 {
        font-size: 20px;
    }

    .slidemonan {
        height: 300px;
    }

    .slidemonan .row {
        padding-top: 22px;
    }

    .slidemonan a.right.carousel-control {
        margin-top: 5px;
        line-height: 25px;
        width: 25px;
        height: 25px;
    }

    .slidemonan a.left.carousel-control {
        margin-top: 5px;
        line-height: 25px;
        width: 25px;
        height: 25px;
        right: 40px;
    }

    .slidemonan .tencongthuc {
        font-size: 10px;
    }

    .tensp .ten,
    .tensp .gia {
        font-size: 10px;
        padding: 0 0;
    }

    .slidemonan img.anhspslide {
        height: 50%;
    }

    .slidemonan .carousel-inner {
        width: 100%;
        height: 100%;
    }

    h3.tieudechinh.fontroboto {
        font-size: 28px;
    }

    span.tieudephu.fontdancing {
        font-size: 30px;
    }


    .logovamenu .navbar-nav .nav-item {
        line-height: 2;
    }





    .badichvu {
        /* padding-top: 30px; */
        text-align: center;
    }

    .slide {
        height: 315px;
    }

    a.left.carousel-control,
    a.right.carousel-control {
        top: 39%;
    }



    .chu h2.fontoswarld {
        font-size: 25px;
    }

    .chu p {
        width: 250px;
        font-size: 12px;
    }

    .chu {
        padding: 0;
        top: 70px;
        background: none;
        margin-left: 70px;
    }



    .carousel-inner>.carousel-item>a>img,
    .carousel-inner>.carousel-item>img,
    .img-fluid {
        max-width: 100%;
        height: 300px;
    }



    .navbar-brand img {
        margin-left: 100px;
        height: 80px;
    }



    li.nav-item.datbanmenu a.nav-link.btn.btn-warning {
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
        border-bottom: 0;
    }

    .nav a.nav-link {
        text-align: center;
        margin: 0;
        border-bottom: 1px solid gray;
    }

    .datban {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        border-top: 1px dashed #ddd;
    }

    .datban.openningtop.float-sm-right.text-xs-center.text-sm-left {
        border-right: none;
        padding: 0;
    }

    .topheader {
        height: auto;
        padding-bottom: 10px;
    }


}


/* HET XU LY GIAO DIEN CHO DI DONG */